version: '3.4'

{% include 'roles/docker/templates/extra_hosts.j2' %}

services:
  jenkins:
    image: jenkins/jenkins:2.187
    ports:
      - 8080:8080
      - 50000:50000
    volumes:
      - type: volume
        source: jenkins_home
        target: /var/jenkins_home
    restart: always
    extra_hosts: *default-extra_hosts

volumes:
  jenkins_home:

